* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 30px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.menu {
    max-height: 36px;
    max-width: 50px;
}

.launching {
    text-transform: uppercase;
    color: rgb(230, 60, 116);
}

p {
    font-size: 18px;
    /* max-width: 80%; */
}

.format {
    padding-top: 20px;
}

.signup {
    background-image: url(./assets/graphic.svg);
    background-position: 100% 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}


/* button {
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Avenir Next';
    font-size: 1rem;
    padding: .5rem 3rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px linear-gradient(90deg, rgba(227,56,44,1) 0%, rgba(242,240,47,1) 55%, rgba(203,226,34,1) 61%, rgba(231,150,79,1) 72%, rgba(235,78,6,1) 100%);
    /* background-image: ; */
    /* background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  } */ 

button {
    border-radius: 50px;
    /* margin: 0 auto; */
    margin-top: 20px;
    padding: 10px 30px;
  /* box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5); */
  border: solid 3px transparent;
    background-image: linear-gradient(90deg, rgba(227,56,44,1) 0%, rgba(242,240,47,1) 55%, rgba(203,226,34,1) 61%, rgba(231,150,79,1) 72%, rgba(235,78,6,1) 100%);
    background-origin: border-box;
    box-sizing: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    /* height: 80px; */
    font-weight: bold;
}

.free {
    background-image: url(./assets/background.svg);
    background-size: cover;
    /* background-clip: content-box; */
    padding-top: 50px;
    padding-bottom: 30px;
}



.free h1 {
 padding-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.mobile-mod {
    /* height: 100%; */
    width: 155px;
    min-width: 155px;
    overflow: hidden;
    /* float: left; */
    /* object-fit: cover; */
    /* align-self: stretch; */

}

.mobile-mod img {
    /* float: left; */
    /* width: 100px; */
    object-fit: cover;
    object-position: left;
    height:100%
}

.auction h1 {
    margin-top: 50px;
}

/* .auction p {
    margin: 20px 0;
} */


.block-system {
    margin-left: 20px;
    /* padding-left: 20px; */
    margin-bottom: 50px;
    display: flex;
}

.block {
    padding-right: 30px;
}

.block-upper img {
    display: block;
}

.block-lower {
    background-color: rgb(233, 229, 229);
    max-width: 290px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.upper {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
}

.upper p {
    font-size: 12px;
    padding-top: 20px;
}

.gloop {
    color: orange;
    
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.price-tag {
    display: flex;
}

.price-tag img {
    padding-right: 10px;
}

.no-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: lightslategray;
}

.background-sale {
    background-image: url(./assets/upsell-footer-image.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

footer .logo {
    padding-bottom: 20px;
}

.icons {
    padding-top: 20px;
}

.icon {
    height: 30px;
    padding-right: 20px;
}

h4 {
    color: grey;
    padding-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.list {
    margin-right: 50px;
    margin-bottom: 30px;
    width: 80px;
}

footer a {
    text-decoration: none;
    display: block;
    color: rgb(155, 150, 150);
    margin-bottom: 5px;
}

footer p {
    color: lightgray;
}


.desktop {
    display: none;
}


@media only screen and (min-width: 800px) {
    .desktop {
        display: inherit;
    }

    .mobile {
        display: none;
    }
}