@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin: 30px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.nftlogo {
    max-height: 30px;
}


.links a {
    padding-left: 20px;
    text-decoration: none;
}

.links a:not(:last-child) {
    color: black;
}

.sign {
    color: deeppink;
}

.menu {
    max-height: 36px;
    max-width: 50px;
}

.launching {
    text-transform: uppercase;
    color: rgb(230, 60, 116); 
    font-weight: 600;
}



.format {
    padding-top: 20px;
}


.signup h1 {
    font-size: 40px;
    font-weight: 900;
}



.picture {
    position: absolute;
    max-height: 400px;
    top: 30px;
    left: 50%
}


button {
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px 30px;
  border: solid 3px transparent;
    background-image: linear-gradient(90deg, rgba(227,56,44,1) 0%, rgba(242,240,47,1) 55%, rgba(203,226,34,1) 61%, rgba(231,150,79,1) 72%, rgba(235,78,6,1) 100%);
    background-origin: border-box;
    box-sizing: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    font-weight: bold;
}

.half-text {
    max-width: 60%;
    padding-bottom: 50px;
}

.free {
    background-image: url(./assets/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 10px;
}



.free h1 {
    padding-bottom: 20px;
    font-weight: 600;
   }

.logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.logo img {
    max-height: 30px;
}

.mobile-mod {
    width: 98px;
    min-width: 98px;
    overflow: hidden;

}

.mobile-mod img {
    object-fit: cover;
    object-position: left;
    height:100%
}

.auction h1 {
    margin-top: 50px;
    font-weight: 600;
}



.block-system {
    margin-left: 20px;
    margin-bottom: 50px;
    display: flex;
}

.block {
    padding-right: 30px;
}

.block-upper img {
    display: block;
}

.block-lower {
    background-color: rgb(233, 229, 229);
    max-width: 290px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.upper {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
}

.upper p {
    font-size: 12px;
    padding-top: 20px;
}

.gloop {
    color: orange;
    
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.price-tag {
    display: flex;
}

.price-tag img {
    padding-right: 10px;
}

.no-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: lightslategray;
}

.line {
    background-color: rgb(233, 229, 229);
    height: 2px;
}



.upsale h1 {
    font-weight: 900;
    font-size: 32px;
}

.upsale .wrapper {
    margin-bottom: 0;
    display: flex;
}


.picture-upsale {
    position: relative;
    left: 80px;
    max-height: 400px;
}

footer .nftlogo {
    margin-bottom: 15px;
}

.icons {
    padding-top: 15px;
    padding-bottom: 30px;
}

.icon {
    height: 20px;
    padding-right: 10px;
}

h4 {
    color: grey;
    padding-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin-right: 50px;
    margin-bottom: 30px;
    width: 80px;
}

footer a {
    text-decoration: none;
    display: block;
    color: rgb(155, 150, 150);
    margin-bottom: 5px;
}

footer p {
    color: rgb(175, 171, 171);
}


.desktop {
    display: none;
}


@media only screen and (min-width: 800px) {
    .desktop {
        display: inherit;
    }

    .wrapper {
        margin: 30px 50px;
    }

    header {
        margin-bottom: 100px;
        margin-top: 50px;
    }


    .half-text {
        max-width: 50%;
        padding-bottom: 100px;
    }

.half-text-upsale {
    max-width: 80%;
}

    .picture {
        max-height: 500px;
        top: 100px;
        left: 50%
    }


    .free {
        padding-top: 100px;
        margin: 0 50px;
        border-radius: 10px;
    }


.free .wrapper {
    padding-bottom: 50px;
}

.mobile-mod {
    width: fit-content;

}

.logo {
    width: 50%;
    justify-content: space-around;
    margin-top: 20px;
}

.companies .wrapper {
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
}

.auction h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.block-system {
    margin: 40px 50px;
    justify-content: space-between;
}

.block {
    width: 290px;
    
}

.block-upper img {
    width: 260px;
}

.line {
    margin: 0 50px;
}



footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.copy {
    display: flex;
    justify-content: space-between;
}

    .mobile {
        display: none;
    }
}